<p>
  <b>Service Request ID:</b>
  <%=h @note.service_request_id %>
</p>

<p>
  <b>Created by:</b>
  <%=h @note.created_by %>
</p>

<p>
  <b>Visibility:</b>
  <%=h @note.visibility %>
</p>

<p>
  <b>Effort minutes:</b>
  <%=h @note.effort_minutes %>
</p>

<p>
  <b>Note type:</b>
  <%=h @note.note_type %>
</p>

<p>
  <b>Body:</b>
  <%=h @note.body %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>