<% title "SR #{@service_request.sr_number} - #{@service_request.title}" %>
<% in_page_title "Service Request Management ##{@service_request.sr_number}" %>
<div class='first-pane'>
	<p class='sr_title'><%=h @service_request.title %></p>
</div>
<div class='pane'>


<% form_for(@service_request) do |f| %>
	<div class='sr-details'>
	  <div class='sr-line1'>
		<span class='site-id'><b>Site ID: <%= @service_request.site.site_id %></b></span>
		<span class='site-name'><b>Site Name: <%= @service_request.site.name %></b></span>
		<span class='created-at'>Created On: <%= @service_request.created_at %></span>
	  </div>	
	  <div class='sr-line2'>
		<%= image_tag 'sr/buttons' %>
		<label class='right'><button class="submit" type="submit"><span>Update</span></button></label>
	  </div>	
	  <div class='sr-line3'>
		<div class='col1'>
			<table>
				<tr>
					<td align='right' width='120px'>
					    <%= f.label :severity %>:
					</td>
					<td>
						<div class='sr-col1-select'><%= f.select :severity, [['S1 - Critical',1],['S2 - High Priority',2],['S3 - Standard',3],['S4 - Question',4]], :width => '60' %></div>
					</td>
				</tr>
				<tr>
					<td align='right' width='120px'>
					    <%= f.label :escalation_id %><br />
					</td>
					<td>
						<div class='sr-col1-select'><%= f.select :escalation_id, [['not escalated',0],['E1',1],['E2',2],['E3',3],['E4',4],['E5',5]] %></div>
					</td>
				</tr>
				<tr>
					<td align='right' width='120px'>
						Status:
					</td>
					<td>
						<div class='sr-col1-value'><%= @service_request.status %></div>
					</td>
				</tr>
			</table>			
		</div>
		<div class='col2'>
			<table>
				<tr>
					<td align='right' width='170px'>
					    <%= f.label :product %><br />
					</td>
					<td align='left' width='250px'>
						<div class='sr-col2-value'><%= f.select :product, ['Accelor 1.3 SP1','Connect Server 5.3 SP3', 'Connect Server 5.3 SP4','Nayworker 2.3', 'Nayworker 2.4', 'Nayworker 2.5'] %></div>
					</td>
				</tr>
				<tr>
					<td align='right' width='120px' valign='top'>
						Problem Description:
					</td>
					<td>
						<div class='sr-col2-value'><%= truncate format_comment(h @service_request.clean_description), 128 %></div>
					</td>
				</tr>
				<tr>
					<td align='right' width='120px'>
						Last Updated Date:
					</td>
					<td>
						<div class='sr-col2-value'><%= @service_request.updated_at %></div>
					</td>
				</tr>
				<tr>
					<td align='right' width='120px'>
						Next Action Date:
					</td>
					<td>
						<div class='sr-col2-value red'><%= @service_request.next_action_at %></div>
					</td>
				</tr>
				<tr>
					<td align='right' width='120px'>
						<%= f.label :owner_id %>
					</td>
					<td>
						<div class='sr-col2-value'><%= f.select :owner_id, User.employees.active.collect{|u| [ u.fullname, u.id] } %></div>
					</td>
				</tr>
			</table>
	    </div>	
		<div class='clear'></div>	
		  <div class='sr-line4'>
		    <p> 
			    <strong><%= f.label :contact_id %></strong>:
			    <%= f.select :contact_id, User.active.collect{|u| [ u.fullname, u.id] } %>
	        </p>
		  </div>		
	  </div>	
  </div>
  <div>

    <p><strong>Watchers:</strong> <%= @watchers.collect { |user| link_to user.fullname, inbox_path(user.inbox) }.join(' / ') %>
  </div>
<% end %>

</div>
<%= render '/utils/debug' %>
