<% title "SR #{@service_request.sr_number} - #{@service_request.title}" %>
<div class='first-pane'>
	<p class='title_img'>SR #<%= @service_request.sr_number %> - <%=h @service_request.title %></p>
</div>
<div class='pane'>
<p>
  <b>Severity:</b>
  <%=h @service_request.severity %>
</p>

<p>
  <b>Status:</b>
  <%=h @service_request.status %>
</p>

<p>
  <b>Product:</b>
  <%=h @service_request.product %>
</p>

<p>
  <b>Description:</b>
  <%= format_comment(h @service_request.clean_description) %>
</p>

<p>
  <b>Next action at:</b>
  <%=h @service_request.next_action_at %>
</p>

<p>
  <b>Site:</b>
  <%=h @service_request.site.name %>
</p>

<p>
  <b>Escalation:</b>
  <%=h @service_request.escalation_id %>
</p>

<p>
  <b>Contact:</b>
  <%=h @service_request.contact.fullname %>
</p>

<p>
  <b>Owner:</b>
  <%=h @service_request.owner.fullname %>
</p>

<p><b>Watchers:</b> 
<% @watchers.each do |user| %>
/ <%= link_to user.fullname, inbox_path(user.inbox) %>
<% end %>	
</p>
<%= link_to 'Edit', edit_service_request_path(@service_request) %> |
<%= link_to 'View all', service_requests_path %>
<%= render '/utils/debug' %>
</div>
