<% title "Top Tags" %>

<table>
  <tr>
    <th>Tag</th>
    <th>Asset</th>
    <th>Counter</th>
  </tr>
  <% for top_tag in @top_tags %>
    <tr>
      <td><%=h top_tag.tag_id %></td>
      <td><%=h top_tag.asset_id %></td>
      <td><%=h top_tag.counter %></td>
      <td><%= link_to "Show", top_tag %></td>
      <td><%= link_to "Edit", edit_top_tag_path(top_tag) %></td>
      <td><%= link_to "Destroy", top_tag, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<hr noshade/>
<%= will_paginate @top_tags %>
<p><%= link_to "New Top Tag", new_top_tag_path %></p>
