<h1>Editing subscription</h1>

<% form_for(@subscription) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </p>
  <p>
    <%= f.label :badge %><br />
    <%= f.text_field :badge %>
  </p>
  <p>
    <%= f.label :service_request_level %><br />
    <%= f.text_field :service_request_level %>
  </p>
  <p>
    <%= f.label :note_added %><br />
    <%= f.check_box :note_added %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @subscription %> |
<%= link_to 'Back', subscriptions_path %>