<% title "Console" %>

<div class='first-pane'>
	<div class="subscriptions-section">
		<h2>Subscribers</h2>
			<table width='100%'>
			  <tr>
			    <th>User</th>
			    <th width='25%'>iPhone ID / Token</th>
			    <th align='center'>Badge</th>
			    <th align='center'>Service request level</th>
			    <th align='center'>Note added</th>
			    <th>Created *</th>
			    <th>Updated *</th>
			    <th></th>
			  </tr>

			<% @subscriptions.each do |subscription| %>
			  <tr>
			    <td><label class='strong'><%=h subscription.user.fullname %></label></td>
			    <td><label class='strong'><%= subscription.device_id %></label> / <%=h subscription.token %></td>
			    <td align='center'><%=h subscription.badge %></td>
			    <td align='center'><%=h subscription.sr_severity %></td>
			    <td align='center'><%=h subscription.note_added %></td>
			    <td><label class='strong'><%= time_ago_in_words subscription.created_at %> ago</label><br><%=h subscription.created_at.strftime("%m/%d/%Y %H:%M:%S") %></td>
			    <td><label class='strong'><%= time_ago_in_words subscription.updated_at %> ago</label><br><%=h subscription.updated_at.strftime("%m/%d/%Y %H:%M:%S") %></td>
			    <td><%= link_to 'Destroy', subscription, :confirm => 'Are you sure?', :method => :delete %></td>
			  </tr>
			<% end %>
			</table>
	</div>
	
</div>
<div class='pane'>
	
	<div class="subscriptions-section">
		<h2>Recent Notifications</h2>
		<table width='100%'>
		  <tr>
		    <th>Message</th>
		    <th>Custom Data</th>
		    <th align='center'>Device</th>
		    <th>Sounds</th>
		    <th>Created *</th>
		    <th>Sent *</th>
		  </tr>

		<% @last_notifications.each do |notification| %>
		  <tr>
		    <td><label class='strong'><%=h notification.alert %></label></td>
		    <td><%=h notification.custom_properties.inspect %></td>
		    <td align='center'><%=h notification.device_id %></td>
		    <td><%=h notification.sound %></td>
		    <td><label class='strong'><%= time_ago_in_words notification.created_at %> ago</label><br><%=h notification.created_at.strftime("%m/%d/%Y %H:%M:%S") %></td>
		    <td>
<% if !notification.sent_at.nil? %>
<label class='strong'><%= time_ago_in_words notification.sent_at %> ago</label><br>
			<%=h notification.sent_at.strftime("%m/%d/%Y %H:%M:%S") %>
			<% else %>
			pending...
			<% end %>
			</td>
		  </tr>
		<% end %>
		</table>
	</div>
</div>
<div class='pane'>	
	<div class="subscriptions-section">
		<h2>Recent Devices</h2>
		<table width='100%'>
		  <tr>
		    <th align='center'>ID</th>
		    <th>Token</th>
		    <th>Created *</th>
		    <th>Updated *</th>
		  </tr>

		<% @devices.each do |device| %>
		  <tr>
		    <td align='center'><label class='strong'><%=h device.id %></label></td>
		    <td><%=h device.token %></td>
		    <td><label class='strong'><%= time_ago_in_words device.created_at %> ago</label><br><%=h device.created_at.strftime("%m/%d/%Y %H:%M:%S") %></td>
		    <td><label class='strong'><%= time_ago_in_words device.updated_at %> ago</label><br><%=h device.updated_at.strftime("%m/%d/%Y %H:%M:%S") %></td>
		  </tr>
		<% end %>
		</table>
	</div>
	<p class='small-print'>* <%= Time.zone.name %></p>
</div>
<%= render '/utils/debug' %>
