<% title "Listing inboxes" %>
<div class='first-pane'>
<h1>  <%=h @inbox.owner.fullname %>'s Inbox</h1>
</div>	
<div class='pane'>
<% @inbox.service_requests.each do |service_request| %>
	<p>(<%= service_request.severity_display %>) <%= service_request.sr_number %> - <%= link_to service_request.title, service_request_path(service_request) %></p>
<% end %>
<%= link_to 'Back', inboxes_path %>